//////// Colours ////////

$white-red        : #CCC;
$dark-blue        : #333645;

$shadow           : 0px 3px 35px rgba(0, 0, 0, .1);

//////// Colour variables ////////

$border                     : $white-red;

//////// Box Shadow ////////

$box-shadow                 : $shadow;

