//// Base Styles ////

* {
    font-family: "Poppins", sans-serif; // Defines the fonts being used.
    font-weight: 400; // The “value” placed on my font that will determine how bold or light my text will appear.
    font-style: normal; // Sets whether a font should be styled with a normal, italic, or oblique face from its font-family
}

